.gradientBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(100,100,100,1) 100%);
  color: white;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.homeButton, .banButton {
  margin-top: 20px;
  padding: 10px 20px;
  width: 200px; /* Fixed width */
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.homeButton {
  background-color: #D4AF37; /* Gold color */
}

.homeButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.banButton {
  background-color: #8B0000; /* Deep red color */
}

.banButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
