.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-top: 5px;
  }
  
  .error {
    color: red;
  }
  
  .success {
    color: green;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .dropzone {
    border: 2px dashed #cccccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 200px; /* Increase the height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .dropzone p {
    margin: 0;
  }
  
  .dropzone .icon {
    font-size: 50px; /* Size of the drag and drop symbol */
    color: #cccccc;
    margin-bottom: 10px;
  }
  
  .submitButton {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitButton:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
